@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Luckiest Guy", cursive;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    background-size: cover;
    background-position: center; 
    background-image: url('/assets/imgs/tela-cadastro.png');
}

.card-cadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #6DC267;
    border: #174C47 solid 2px;
    border-radius: 50px;
    padding: 30px;
}

.titulo-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.titulo-cadastro img{
    height: 25px;
}

.titulo-cadastro h2{
    color: #064744;
    font-weight: 800;
}

.card-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.card-input input{
    border: #9182D5 solid 2px;
    border-radius: 50px;
    text-align: center;
    height: 30px;
}

.card-input select{
    border: #9182D5 solid 2px;
    border-radius: 50px;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

.card-input button{
    background-color: #9182D5;
    border: #1E4D52 solid 2px;
    border-radius: 50px;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1rem;
}

.texLogin{
    font-size: 0.8rem;
    margin: 0 auto;
}

.loading-div {
    width: 50px;
    display: none;
    margin: 0 auto;
}

.loading-div img {
height: 50px;
width: 50px;
}

.alerta_erro{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none; 
    background-color: #fff;
    color: black;
    width: 330px;
    position: fixed;
    border-radius: 4px;
    border: #ED145B 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro{
font-weight: 500;
font-size: 20px;
}

#div_erros_login {
    display: none;
    color: red;
    padding-bottom: 10px;
    margin: 0 auto;
}