.container-conta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #150B36;
    width: 100%;
}

.conta-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    width: 50%;
    border: solid 2px #E70015;
}

.card-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 30px;
    gap: 10px;
}


.card-perfil img{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: solid 2px #E70015;
    margin-top: 30px;
}

.img-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-perfil{
    border-radius: 15px;
    border: solid 2px #9182D5;
    padding: 5px;
}

.btn-atualizar{
    background-color: #9182D5;
    border-radius: 15px;
    border: solid 2px #1E4D52;
    width: 30%;
    height: 30px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.card-senha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.alerta_erro{
    position: fixed;
    top: 5px;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none; 
    background-color: #fff;
    color: black;
    width: 330px;
    position: fixed;
    border-radius: 4px;
    border: #ED145B 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro{
font-weight: 500;
font-size: 20px;
}
